body {
  background-color: teal;
}
#container {
  display: flex;
}

.content {
  height: 30vw;
  width: 30vw;
  background-color: blueviolet;
  margin: 10px;
  text-align: center;
}
span {
  display: relative;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column-reverse;
  position: absolute;
  top: 17vw;
}

p {
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}
a {
  text-decoration: none;
  display: block;
}
